In [1]:
from _library import MyLibrary
bqr = MyLibrary(client_secret_directory=r'C:\trieu.pham\python\bigquery').bigquery

In [2]:
df = bqr.run_biqquery_to_df(query="""select distinct sub_cate_report from tiki-dwh.dwh.dim_product_full""")
df

             sub_cate_report
0                  TIKI-Ngon
1           Installation fee
2                  Gift Card
3                PC - Laptop
4                    Finance
5             Sport - Travel
6     Foreign Language Books
7                Home Living
8        Product Advertising
9                         IT
10  Major Domestic Appliance
11                Mom - Baby
12       Bought From Sellers
13                   Billing
14           Office Supplies
15          Phones - Tablets
16             Greeting card
17                       VAS
18                      None
19           Health - Beauty
20   Automotive & Motorcycle
21                   Fashion
22                 Insurance
23    Electronic Accessories
24             Gift wrapping
25             Travel Ticket
26      Tikinow subscription
27          Small Appliances
28    Book & Office Supplies
29                      FMCG
30           Home Appliances
31                    Camera
32        Voucher & services
33                        TV